@media screen and (max-width: 800px){
    .header{
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .main-nav ul{
        border: none;
        padding: 30px 0;
    }
    .main-nav li{
        margin-right: 1%;
        margin-bottom: 2%;
    }

    .main-pic-block{
        padding: 15% 0 25%;
    }
    .main-pic-info h1{
        font-size: 38px;
    }
    .form-block{
        background: none;
    }
    .form-block input{
        margin-bottom: 3%;
        width: 270px;
        height: 35px;
    }
    .form-block button{
        height: 35px;
        padding: 0 15px 0 10px;
    }
    .service h4{
        font-size: 30px;
    }
    .webhost-block{
        padding: 30px 15px 30px 15px;
    }
    .domain-block{
        padding: 30px 15px 30px 15px;
    }
    .service a{
        padding: 8px 35px;
        font-size: 16px;
    }

    .our-features{
        padding-top: 3%;
    }
    .features h4{
        font-size: 35px;
    }
    .our-p{
        font-size: 20px;
    }
    .boxes{
        flex-wrap: wrap;
    }
    .box{
        padding: 162px 10px 40px;
        width: 100%;
        margin-bottom: 50px;
        border-bottom: 5px solid #fff;
    }
    .box-4{
        border-bottom: none;
    }
    .box h5{
        font-size: 22px;
    }
    .flexed{
        text-align: center;
    }
    .our-info{
        max-width: 50%;
    }
    .logos{
        float: none;
        margin: 25px auto;
    }

    .clients{
        flex-wrap: wrap;
    }
    .client{
        width: 100%;
        margin-bottom: 60px;
    }
}