body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #202242;
    font-size: 14px;
    background-color: #fff; 
    line-height: 1.7;
    margin: 0;
}
/* font-family: 'Maven Pro', sans-serif;
font-family: 'Raleway', sans-serif; */
*,
*::before,
*::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    align-self: center;
}
.main-nav ul{
    list-style: none;
    padding: 66px 0 56px;
    margin: 0;
    border-left: solid 2px #ebebeb;
}
.main-nav li{
    display: inline-block;
    margin-left: 24px;
}
.main-nav a{
    color: #202242;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;  
    font-weight: bold;
}
.main-nav a:hover{
    color: #ffe13e;
}

.main-pic-block{
    background: url(../images/main-pic.jpg);
    background-size: cover;
    padding: 206px 0 230px;
}
.main-block{
    text-align: center;
}
.main-pic-info{
    padding-bottom: 146px;
    background: url(../images/pic.png) no-repeat 50% 100%;
    margin-bottom: 60px;
}
.main-pic-info h1{
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
}
.form-block{
    display: inline-block;
    padding: 18px 12px 18px 18px;
    background: #dddddd;
}
.form-block input{
    height: 54px;
    width: 381px;
    padding-left: 23px;
    border: none;
    margin-right: 7px;
}
.form-block button{
    height: 54px;
    padding: 0 23px 0 12px;
    background: #ffe13e;
    color: #fff;
    font-weight: bold;
    border: none;
}

.services-block{
    background: linear-gradient(to right, #202242 0%,#202242 50%,#ffe13e 50%,#ffe13e 100%);
}
.services{
    display: flex;
}
.service{
    width: 50%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.service h4{
    font-size: 36px;
    margin: 0 0 11px;
}
.service p{
    margin: 0 0 35px;
    flex-grow: 1;
}
.service a{
    color: #fff;
    padding: 16px 54px;
    border: 2px solid #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    margin: 0 auto auto;
}
.webhost-block{
    padding: 80px 84px 104px 74px;
}
.domain-block{
    padding: 80px 70px 104px 95px;
}

.our-features{
    padding-top: 74px;
    background: #fbf8f1 url(../images/ball-pic.png) 50% 100% no-repeat;
    margin-bottom: 85px;
}
.features{
    text-align: center;
}
.features h4{
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 48px;
}
.our-p{
    font-size: 24px;
    margin: -3px 0 75px;
}
.boxes{
    display: flex;
}
.box{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 162px 17px 60px;
}
.box h5{
    color: #f4d320;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}
.box h5::before{
    content: "";
    margin: 0 auto;
    display: block;
    width: 70px;
    height: 3px;
    background: #8d8d99;
    margin-bottom: 14px;
}
.box p{
    flex-grow: 1;
}
.box a{
    color: #202242;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto auto;
    padding: 5px 10px;
}
.box-1{
    background: url(../images/preson-icon.png) no-repeat 50% 0;
}
.box-2{
    background: url(../images/cloud-icon.png) no-repeat 50% 0;
}
.box-3{
    background: url(../images/bon-icon.png) no-repeat 50% 0;
}
.box-4{
    background: url(../images/tv-icon.png) no-repeat 50% 0;
}

.flexed{
    margin-bottom: 73px;
}
.our-info{
    display: inline-block;
    max-width: 33%;
}
.our-info h5{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin: 0;
}
.our-info p{
    font-size: 16px;
    color: #adadad;  
    margin: 0;
}
.logos{
    float: right;
    width: 67%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.clients{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}
.client{
    width: 32%;
    background: #faf9f9;
    padding: 29px 30px 27px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.client p{
    color: #a4a4a4;
    margin: 0 0 17px;
    flex-grow: 1;
    font-style: italic;
}
.client span{
    margin-left: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #696969;
}
.client img{
    width: 89px;
    height: 89px;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 75%;
}

.footer{
    background: #202242;
    text-align: center;
    padding-bottom: 90px;
}
.footer p{
    padding-top: 76px;
    color: #fff;
    background: url(../images/shape.png) no-repeat 50% 50%;
}

