body{
    font-family: 'Roboto', sans-serif;
    color: #848484;
    font-size: 16px;
    background-color: #fff; 
    line-height: 1.5;
    margin: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-image: url(../images/header-img.jpg);
    margin-bottom: 60px;
}
.top-box{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}
.header-box{
    align-self: center;
    max-width: 470px;
    margin-right: 40px;
    margin-bottom: 100px;
}
.logo{
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    font-size: 72px;
    text-decoration: none;
    padding: 3px;
}
.header-box p{
    color: #ffffff;
    font-size: 24px;
}
.header-icon{
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #1a4c6d;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.icon-1{
    background-image: url(../images/apple.png);
    background-position: 17px 12px;
}
.icon-2{
    background-image: url(../images/android.png);
    background-position: 16px 13px;
}
.icon-3{
    background-image: url(../images/windows.png);
    background-position: 15px 15px;
}
.header-img{
    align-self: flex-end;
}
.header-img img{
    width: 100%;
    height: auto;
    display: block;
}

.craze-block{
    text-align: center;
    margin-bottom: 60px;
}
.craze-block h3{
    color: #222222;
    font-size: 30px;
}
.boxes{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 33.3333%;
    box-sizing: border-box;
    padding: 100px 40px 60px;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.box-3{
    border-right: 0;
}
.box-6{
    border-right: 0;
}
.box a{
    font-size: 24px;
    color: #222222;
    font-weight: 500;
    text-decoration: none;
    padding-top: 90px;
    background-repeat: no-repeat;
    background-position: 50% 15px;
    display: block;
}
.info-1{
    background-image: url(../images/pc.png);
}
.info-2{
    background-image: url(../images/bow.png);
}
.info-3{
    background-image: url(../images/picture.png);
}
.info-4{
    background-image: url(../images/paint.png);
}
.info-5{
    background-image: url(../images/man.png);
}
.info-6{
    background-image: url(../images/set.png);
}
.about{
    background-color: #e7e7e7;
    padding: 55px 0;
}
.about-block{
    max-width: 570px;
}
.about-block h3{
    color: #222222;
    font-size: 30px;
    font-weight: 500;
}
.about img{
    float: right;
}
.about-block li{
    margin-bottom: 5px;
}

.sentence{
    text-align: center;
    padding: 55px 0;
}
.sen{
    font-size: 24px;
    font-weight: italic;
    margin-top: 0;
}
.sarah{
    color: #222222;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}

.block-bottom{
    padding: 50px 0;
    background-color: #e7e7e7;
    text-align: center;
}
.block-bottom h3{
    color: #222222;
    font-size: 30px;
    font-weight: 500;
}
.items{
    display: flex;
    background-color: #fff;
}
.item{
    width: 25%;
    border-right: 4px solid #e7e7e7;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.item p{
    margin: 0;
    border-bottom: 1px solid #c2c2c2;
    display: inline-block;
    padding: 7px 0;
    margin: 0 20px;
}
.item span{
   display: block;
   margin-bottom: 80px;
   padding-top: 7px;
}
.item h6{
    color: #fefefe;
    font-size: 28px;
    margin: 0;
    background-color: #3498db;
    font-weight: 500;
    padding: 7px 0;
}
.price{
    color: #222222;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}
.item a{
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    padding: 15px 35px;
    background-color: #0d74b9;
    text-transform: uppercase;
    text-decoration: none;
    margin: auto 40px 20px;
}

.line{
    height: 10px;
}
.footer{
    text-align: center;
    padding: 55px 0;
    background-color: #e3e3e3;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: #848484;

}