.bottom-block{
    padding: 37px 0 80px;
    background: url(../images/bottom-bg.jpg);

    &__title{
        font-size: 43px;
        color: #f5c506;
        text-align: center;
        margin: 0 0 50px;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__boxes{
        display: flex;
        justify-content: space-between;
    }
    &__img-block{
        position: relative;
    }
    &__img-block::before{
        content: "Its 100% Free";
        display: inline-block;
        width: 115px;
        height: 115px;
        border-radius: 50%;
        background: #f5c506;
        position: absolute;
        font-size: 17px;
        color: #ffffff;
        text-align: center;
        padding-top: 45px;
        text-transform: uppercase;
        left: -40px;
        bottom: 65%;
    }
    &__list{
        width: 100%;
        max-width: 457px;
    }
    &__item{
        color: #f5c506;
        margin-bottom: 15px;
    }
    &__info{
        color: #a9a9a7;
    }
}

@media screen and (max-width: 960px) {
    .bottom-block__boxes{
        flex-direction: column;
        justify-content: center;
    }
    .bottom-block__img{
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .bottom-block__list{
        margin: 0 auto;
        max-width: 100%
    }
    .bottom-block__img-block::before{
        right: 50%;
    }
}

@media screen and (max-width: 1300px) {
    .bottom-block__img-block::before{
        left: -10px;
    }
}
@include mobile{
    .bottom-block{
        padding: 40px 0 65px;
        background: #474747;

        &__title{
            font-size: 39px;
        }
        &__list{
            margin: 0;
            padding-left: 25px;
        }
    }
}

@media screen and (max-width: 500px) {
    .bottom-block__img-block::before{
        width: 80px;
        height: 80px;
        font-size: 15px;
        padding-top: 20px;
    }
    .bottom-block__title{
        display: none;
    }
    .bottom-block__list{
        width: 100%;
    }
}