.footer{
    background: #4c4c4c;
    padding: 5px 0;

    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info{
        font-size: 17px;
        color: #fff;
        margin: 0;
    }
    &__logo{
        width: 225px;
        margin-left: 84px;
    }
}

@include mobile{
    .footer__logo{
        width: 135px;
    }
}
@media screen and (max-width: 500px) {
    .footer__flex{
        flex-direction: column;
    }
}
@media screen and (max-width: 1250px) {
    .footer__logo{
        margin-left: 0;
    }
}