body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #a9a9a7;
    font-size: 22px;
    background-color: #fff; 
    line-height: 1.3;
	margin: 0;
	min-width: 300px;
}
// font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
// font-family: 'Open Sans', Arial, Helvetica, sans-serif;

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}