.header{
    display: flex;
    justify-content: space-between;
    font-family: $noto;
    align-items: flex-end;
    padding-top: 27px;

    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        background: #f5c506;
        padding-left: 24px;
    }
    &__item{
        border-right: 1px solid #dcb105;
        padding: 13px 22px 13px 15px;
    }
    &__link{
        font-size: 17px;
        color: #9b7d08;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        padding-left: 36px;
    }
    &__link::before{
        content: "";
        display: inline-block;
        width: 24px;
        height: 19px;
        position: absolute;
        left: 0;
        top: 2px;
    }
    &__link_1::before{
        background: url(../images/ic-person.png) no-repeat 50%;
    }
    &__link_2::before{
        background: url(../images/service.png) no-repeat 50%;
    }
    &__link_3::before{
        background: url(../images/ic-lettter.png) no-repeat 50%;
    }

    &__img{
        margin-bottom: -20px;
    }
    &__craft{
        font-size: 13px;
        color: #fff;
        text-transform: uppercase;
        margin-left: 35px;
    }
    
}

@media screen and (max-width: 1080px) {
    .header__craft{
        display: none;
    }
}
@media screen and (max-width: 850px) {
    .header{
        flex-direction: column;
        align-items: center;
        &__img{
            margin-bottom: 10px;
        }
    }
}
@include mobile {
    .header{
        flex-direction: row;
        padding: 0;
        justify-content: center;

        &__top-left{
            background: #494949;
            height: 100%;
            padding: 7px 0;
        }
        &__img{
            width: 155px;
            display: block;
            margin: 0;
        }
        &__list{
            padding: 0;
        }
    }
}
@media screen and (max-width: 630px) {
    .header{
        display: block;

        &__img{
            margin: 0 auto;
        }
        &__item{
            width: 33.333%;
            text-align: center;
            padding: 13px 0;
        }
    }
}
@media screen and (max-width: 400px){
    .header__list{
        display: block;
    }
    .header__item{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #dcb105;
    }
}