.img-block{
    padding: 57px 0 119px;
    background: #f5c506;

    &__title{
        font-size: 37px;
        text-align: center;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 50px;
    }
    &__boxes{
        display: flex;
        justify-content: space-between;
    }
    &__box{
        position: relative;
    }
    &__overly{
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background: #ec9e03;
        font-size: 24px;
        color: #fff;
        overflow: hidden;
        transition: 1.3s;
    }
    &__box:hover .img-block__overly{
        width: 100%;
        padding: 5% 5% 0 5%;
    }
    &__img{
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .img-block__overly{
        font-size: 20px;
    }
    .img-block{
        padding: 40px 0 60px;
    }
    .img-block__title{
        margin-bottom: 15px;
    }
}

@include mobile{
    .img-block{
        background: none;
        padding: 12px 0 12px;

        &__title{
            display: none;
        }
        &__box{
            width: 48.5%;
        }
        &__box_3{
            display: none;
        }
        &__overly{
            font-size: 16px;
        }
    }
}
@media screen and (max-width: 480px) {
    .img-block__box{
        width: 100%;
        margin-bottom: 15px;
    }
    .img-block__boxes{
        display: block;
    }
    .img-block__box_3{
        display: block;
    }
    .img-block__img{
        width: 100%;
    }
}
