.link-block{
    background: url(../images/link-block-bg.jpg);
    
    &__boxes{
        display: flex;
    }
    &__box{
        width: 33.3333%;
        padding: 145px 0 34px;
        text-align: center;
        border-right: 2px solid #d4d4d4;
    }
    &__link{
        color: #000;
        font-size: 27px;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        font-family: $noto;
    }
    &__link::before{
        content: "";
        display: inline-block;
        width: 109px;
        height: 95px;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%);
    }
    &__link_1::before{
        background: url(../images/ic-cloud.png) no-repeat 50%;
    }
    &__link_2::before{
        background: url(../images/ic-list.png) no-repeat 50%;
    }
    &__link_3::before{
        background: url(../images/ic-fly.png) no-repeat 50%;
    }
    &__box_last{
        border-right: none;
    }
}

@include mobile{
    .link-block__link{
        font-size: 23px;
    }
    .link-block__box{
        border: none;
    }
}

@media screen and (max-width: 480px) {
    .link-block__boxes{
        flex-wrap: wrap;
    }
    .link-block__box{
        width: 100%;
    }
}