.main-block{
    padding: 100px 0 90px;
    display: flex;
    justify-content: space-between;

    &__title{
        font-size: 63px;
        margin: 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        align-self: center;
        font-family: $noto;
    }
    &__sub{
        color: #f5c506;
        display: block;
    }
    &__video{
        width: 550px;
    }
}

@media screen and (max-width: 980px) {
    .main-block{
        flex-direction: column;
    }
    .main-block__video{
        display: block;
        width: 640px;
        margin: 0 auto;
    }
}

@include mobile {
    .main-block{
        padding: 0;
        &__title{
            display: none;

        }
    }
}