body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #a9a9a7;
  font-size: 22px;
  background-color: #fff;
  line-height: 1.3;
  margin: 0;
  min-width: 300px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  align-items: flex-end;
  padding-top: 27px;
}
.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  background: #f5c506;
  padding-left: 24px;
}
.header__item {
  border-right: 1px solid #dcb105;
  padding: 13px 22px 13px 15px;
}
.header__link {
  font-size: 17px;
  color: #9b7d08;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-left: 36px;
}
.header__link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 2px;
}
.header__link_1::before {
  background: url(../images/ic-person.png) no-repeat 50%;
}
.header__link_2::before {
  background: url(../images/service.png) no-repeat 50%;
}
.header__link_3::before {
  background: url(../images/ic-lettter.png) no-repeat 50%;
}
.header__img {
  margin-bottom: -20px;
}
.header__craft {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 35px;
}

@media screen and (max-width: 1080px) {
  .header__craft {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header__img {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 640px) {
  .header {
    flex-direction: row;
    padding: 0;
    justify-content: center;
  }
  .header__top-left {
    background: #494949;
    height: 100%;
    padding: 7px 0;
  }
  .header__img {
    width: 155px;
    display: block;
    margin: 0;
  }
  .header__list {
    padding: 0;
  }
}
@media screen and (max-width: 630px) {
  .header {
    display: block;
  }
  .header__img {
    margin: 0 auto;
  }
  .header__item {
    width: 33.333%;
    text-align: center;
    padding: 13px 0;
  }
}
@media screen and (max-width: 400px) {
  .header__list {
    display: block;
  }

  .header__item {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #dcb105;
  }
}
.top-part {
  background: url(../images/top-bg.jpg);
  background-size: cover;
}

.main-block {
  padding: 100px 0 90px;
  display: flex;
  justify-content: space-between;
}
.main-block__title {
  font-size: 63px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  align-self: center;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}
.main-block__sub {
  color: #f5c506;
  display: block;
}
.main-block__video {
  width: 550px;
}

@media screen and (max-width: 980px) {
  .main-block {
    flex-direction: column;
  }

  .main-block__video {
    display: block;
    width: 640px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 640px) {
  .main-block {
    padding: 0;
  }
  .main-block__title {
    display: none;
  }
}
.link-block {
  background: url(../images/link-block-bg.jpg);
}
.link-block__boxes {
  display: flex;
}
.link-block__box {
  width: 33.3333%;
  padding: 145px 0 34px;
  text-align: center;
  border-right: 2px solid #d4d4d4;
}
.link-block__link {
  color: #000;
  font-size: 27px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}
.link-block__link::before {
  content: "";
  display: inline-block;
  width: 109px;
  height: 95px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
}
.link-block__link_1::before {
  background: url(../images/ic-cloud.png) no-repeat 50%;
}
.link-block__link_2::before {
  background: url(../images/ic-list.png) no-repeat 50%;
}
.link-block__link_3::before {
  background: url(../images/ic-fly.png) no-repeat 50%;
}
.link-block__box_last {
  border-right: none;
}

@media screen and (max-width: 640px) {
  .link-block__link {
    font-size: 23px;
  }

  .link-block__box {
    border: none;
  }
}
@media screen and (max-width: 480px) {
  .link-block__boxes {
    flex-wrap: wrap;
  }

  .link-block__box {
    width: 100%;
  }
}
.img-block {
  padding: 57px 0 119px;
  background: #f5c506;
}
.img-block__title {
  font-size: 37px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 50px;
}
.img-block__boxes {
  display: flex;
  justify-content: space-between;
}
.img-block__box {
  position: relative;
}
.img-block__overly {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #ec9e03;
  font-size: 24px;
  color: #fff;
  overflow: hidden;
  transition: 1.3s;
}
.img-block__box:hover .img-block__overly {
  width: 100%;
  padding: 5% 5% 0 5%;
}
.img-block__img {
  display: block;
}

@media screen and (max-width: 900px) {
  .img-block__overly {
    font-size: 20px;
  }

  .img-block {
    padding: 40px 0 60px;
  }

  .img-block__title {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 640px) {
  .img-block {
    background: none;
    padding: 12px 0 12px;
  }
  .img-block__title {
    display: none;
  }
  .img-block__box {
    width: 48.5%;
  }
  .img-block__box_3 {
    display: none;
  }
  .img-block__overly {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .img-block__box {
    width: 100%;
    margin-bottom: 15px;
  }

  .img-block__boxes {
    display: block;
  }

  .img-block__box_3 {
    display: block;
  }

  .img-block__img {
    width: 100%;
  }
}
.bottom-block {
  padding: 37px 0 80px;
  background: url(../images/bottom-bg.jpg);
}
.bottom-block__title {
  font-size: 43px;
  color: #f5c506;
  text-align: center;
  margin: 0 0 50px;
  font-weight: 400;
  text-transform: uppercase;
}
.bottom-block__boxes {
  display: flex;
  justify-content: space-between;
}
.bottom-block__img-block {
  position: relative;
}
.bottom-block__img-block::before {
  content: "Its 100% Free";
  display: inline-block;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: #f5c506;
  position: absolute;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
  padding-top: 45px;
  text-transform: uppercase;
  left: -40px;
  bottom: 65%;
}
.bottom-block__list {
  width: 100%;
  max-width: 457px;
}
.bottom-block__item {
  color: #f5c506;
  margin-bottom: 15px;
}
.bottom-block__info {
  color: #a9a9a7;
}

@media screen and (max-width: 960px) {
  .bottom-block__boxes {
    flex-direction: column;
    justify-content: center;
  }

  .bottom-block__img {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .bottom-block__list {
    margin: 0 auto;
    max-width: 100%;
  }

  .bottom-block__img-block::before {
    right: 50%;
  }
}
@media screen and (max-width: 1300px) {
  .bottom-block__img-block::before {
    left: -10px;
  }
}
@media screen and (max-width: 640px) {
  .bottom-block {
    padding: 40px 0 65px;
    background: #474747;
  }
  .bottom-block__title {
    font-size: 39px;
  }
  .bottom-block__list {
    margin: 0;
    padding-left: 25px;
  }
}
@media screen and (max-width: 500px) {
  .bottom-block__img-block::before {
    width: 80px;
    height: 80px;
    font-size: 15px;
    padding-top: 20px;
  }

  .bottom-block__title {
    display: none;
  }

  .bottom-block__list {
    width: 100%;
  }
}
.footer {
  background: #4c4c4c;
  padding: 5px 0;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__info {
  font-size: 17px;
  color: #fff;
  margin: 0;
}
.footer__logo {
  width: 225px;
  margin-left: 84px;
}

@media screen and (max-width: 640px) {
  .footer__logo {
    width: 135px;
  }
}
@media screen and (max-width: 500px) {
  .footer__flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 1250px) {
  .footer__logo {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
